body {
    max-width: 600px;
    margin: 16px auto;
    border: 1px solid #E0E0E0;
    padding: 16px;
}

textarea {
    width: 80%;
}

button {
    background-color: green;
    color: white;
    font-size: 110%;
    padding: auto 6px;
    border-radius: 5%;
    opacity: 0.8;
}

button:hover {
    opacity: 1
}


.note {
    font-size: 80%;
    color: #aaa;
}

a {
    color: #aaa;
}